@model COMP2084_BugTracker.Controllers.ProjectViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>

    <!-- a view for any and all Bugs attached to a Project -->

    @if (Model.Bugs.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Created Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var bug in Model.Bugs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => bug.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => bug.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => bug.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(model => bug.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => bug.CreatedDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Bugs", new { id = bug.Id})
                            @Html.ActionLink("Details", "Details", "Bugs", new { id = bug.Id})
                            @Html.ActionLink("Delete", "Delete", "Bugs", new { id = bug.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
